ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(198, 153, 202);
}
li {
    float:left;
}
li a {
    display: block;
    color: rgb(51, 13, 21);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(167, 140, 140);
    

}